.home-plane {
    padding-top: 55px;
    padding-bottom: 92px;
    background: #fff;
    .container {}
    h2 {
        @include flex-all;
        flex-direction: column;
        small {
            font-size: 24px;
            font-weight: 600;
            color: $text-gray;
        }
        span {
            font-size: 52px;
            font-weight: 700;
            // background: linear-gradient(270deg, #ff5c87, #4761ff);
            background-color: #A345E9;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    &-guide {
        display: none;
    }
    &-showcase {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 1060px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        &-item {
            position: relative;
            width: 455px;
            height: 666px;
            margin-top: 105px;
            border: 1px solid #dfdfdf;
            border-radius: 8px;
            // backdrop-filter: blur(30px);
            .badge {
                position: absolute;
                top: -54px;
                right: -44px;
                z-index: 1;
                width: 125px;
                height: 125px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50%;
                img {
                    width: 100%;
                }
                // &.free {
                //   background-image: url(../images/icons/badge-free.svg);
                // }
                &.discount {
                    // background-image: url(../images/icons/badge-discount.svg);
                }
            }
            &-inner {
                position: relative;
                width: 100%;
                height: 100%;
                @include backdrop-filter(blur(30px));
                // backdrop-filter: blur(30px);
                .button {
                    width: 292px;
                    height: 60px;
                    margin: 0 auto;
                }
                h3 {
                    height: 60px;
                    line-height: 60px;
                    font-size: 20px;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 12px 12px 0 0;
                }
                &-summary {
                    padding-top: 52px;
                    padding-bottom: 30px;
                    background: transparent linear-gradient(90deg, #dbfffa, #f7e8ff);
                    text-align: center;
                    dt {
                        color: #18c981;
                        font: 500 56px/82px BalooChettan;
                    }
                    dd {
                        font: normal normal 500 16px/31px BalooChettan;
                        color: #000;
                        &.btnzone {
                            margin-top: 32px;
                            .buygachange {
                                width: 268px;
                                height: 58px;
                                background: transparent linear-gradient(90deg, #FFB24E 0%, #FF610F 100%);
                                box-shadow: 0px 12px 24px #0000003D;
                                border-radius: 8px;
                            }
                        }
                    }
                    &.purchase {
                        padding-top: 20px;
                        padding-bottom: 32px;
                        background: linear-gradient(270deg, #a25cff, #4761ff);
                        dt {
                            padding-top: 12px;
                            font: normal normal 500 56px/57px BalooChettan;
                            color: #fff;
                            strong {
                                font-weight: 500;
                            }
                            span {
                                font-size: 20px;
                                &.priceData {
                                    font-size: 56px;
                                }
                            }
                        }
                        dd {
                            &.plane-select {
                                display: flex;
                                justify-content: center;
                            }
                            .select-content {
                                margin-top: 12px;
                                padding: 0;
                                position: relative;
                                display: inline-block;
                                width: 130px;
                                height: 48px;
                                &:before {
                                    content: "";
                                    position: absolute;
                                    top: 11px;
                                    left: 13px;
                                    z-index: 2;
                                    display: block;
                                    width: 23px;
                                    height: 23px;
                                    background-size: 23px 18px;
                                    background-position: 50%;
                                    background-repeat: no-repeat;
                                    background-image: url(../images/icons/icon-clock.svg);
                                }
                                &.count {
                                    margin-left: 15px;
                                    width: 210px;
                                    &:before {
                                        background-size: 22px 22px;
                                        background-image: url(../images/icons/icon-follow.svg);
                                    }
                                }
                                select {
                                    appearance: none;
                                    padding: 0 12px 0 42px;
                                    background: hsla(0, 0%, 100%, .85) url(../images/icons/icon-arrow-black.svg) no-repeat right 3% center !important;
                                    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
                                }
                            }
                            .home-instant-followers {
                                width: 320px;
                                height: 64px;
                                select {
                                    padding-left: 53px;
                                    background-color: #FFFFFF!important;
                                    border: 0;
                                }
                                &::before {
                                    top: 50%;
                                    transform: translateY(-50%);
                                    -webkit-transform: translateY(-50%);
                                    -moz-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    -o-transform: translateY(-50%);
                                    background-size: 22px 22px;
                                    background-image: url(../images/icons/icon-follow.svg);
                                }
                            }
                        }
                    }
                }
                &-details {
                    @include list-unstyled;
                    margin-top: 20px;
                    li {
                        position: relative;
                        padding-left: 24px;
                        font: normal normal 500 16px/36px BalooChettan;
                        color: $text-gray;
                        text-align: left;
                        &:before {
                            margin-right: 16px;
                            content: "";
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            background-repeat: no-repeat;
                            background-position: 50%;
                            background-size: contain;
                            background-image: url(../images/icons/icon-list-marker.svg);
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    .round01,
    .round02,
    .round03,
    .round04 {
        position: absolute;
        z-index: -1;
        display: block;
        border-radius: 50%;
        opacity: .8;
        // filter: blur(30px)
        @-moz-document url-prefix() {
            opacity: .3;
        }
        animation: none !important;
    }
    .round01 {
        top: 402px;
        left: 250px;
        width: 123px;
        height: 123px;
        background-color: #4af1be;
    }
    .round02 {
        top: 508px;
        left: 40px;
        width: 79px;
        height: 79px;
        background-color: #ff5dae;
    }
    .round03 {
        top: 410px;
        left: 25px;
        width: 93px;
        height: 93px;
        background-color: #8e7eff;
    }
    .round04 {
        top: 490px;
        left: 278px;
        width: 157px;
        height: 157px;
        background-color: #4af1be;
    }
}

@media screen and (max-width:768px) {
    .home-plane {
        padding: 0 6.4vw;
        overflow: hidden;
        h2 {
            padding-top: 55px;
            font-size: 22px;
            text-align: left;
            align-items: flex-start;
            small {
                text-align: left;
                font-size: 32px;
                line-height: 42px;
                font-weight: 600;
            }
            span {
                font-size: 43px;
                line-height: 50px;
                font-weight: 800;
            }
        }
        &-guide {
            margin-top: 20px;
            margin-bottom: 24px;
            display: block;
            width: 31px;
            height: 73px;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMC41IiBoZWlnaHQ9IjczIiB2aWV3Qm94PSIwIDAgMzAuNSA3MyI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6IzdmODQ5ODt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik03MTUuODU0LDE4Ni4xNDZhLjUuNSwwLDAsMC0uNzA4LDBMNzAxLDIwMC4yOTNWMTI5LjVhLjUuNSwwLDAsMC0xLDB2NzAuNzkzbC0xMy42NDYtMTMuNjQ3YS41LjUsMCwwLDAtLjcwOC43MDhsMTQuNSwxNC41YS41MTguNTE4LDAsMCwwLC4xNjMuMTA5LjUuNSwwLDAsMCwuMzgyLDAsLjUxOC41MTgsMCwwLDAsLjE2My0uMTA5bDE1LTE1QS41LjUsMCwwLDAsNzE1Ljg1NCwxODYuMTQ2WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTY4NS41IC0xMjkpIi8+PC9zdmc+) 0 0 no-repeat;
        }
        &-showcase {
            width: 100%;
            flex-direction: column;
            // padding-bottom: 120px;
            padding-bottom: 40px;
            &-item {
                width: 100%;
                height: auto !important;
                margin-top: 0;
                &-inner {
                    padding-bottom: 24px;
                    &-summary {
                        // padding-top: pxTovw(50px)!important;
                        // padding-bottom: pxTovw(56px)!important;
                        padding-top: 8px;
                        padding-bottom: 13px;
                        dd {
                            .buygachange {
                                width: pxTovw(247px)!important;
                                height: pxTovw(52px)!important;
                                line-height: pxTovw(52px)!important;
                            }
                        }
                        &.purchase {
                            dt {
                                font-size: 44px;
                                line-height: 57px;
                            }
                            dd {
                                &.plane-select {
                                    flex-direction: column;
                                    padding: 0 6.4vw;
                                    .select-content {
                                        width: 100%;
                                        height: 40px;
                                        &.count {
                                            margin-left: 0;
                                        }
                                        &.home-instant-followers {
                                            width: pxTovw(277px);
                                            height: pxTovw(58px);
                                            background-color: #FFFFFF!important;
                                            box-shadow: 0px 3px 6px #00000029;
                                            border-radius: 5px;
                                            select {
                                                border: 0;
                                                padding-left: pxTovw(39px);
                                            }
                                            &::before {
                                                background-size: pxTovw(20px) auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &-details {
                        li {
                            height: 35px;
                            line-height: 35px;
                            font-size: 14px;
                            color: #2a2a2a;
                        }
                    }
                    .mob {
                        margin-top: 30px;
                    }
                }
                &:last-child {
                    margin-top: 58px;
                }
            }
        }
        .round01 {
            top: 183px;
            left: 176px;
        }
        .round02 {
            top: 368px;
            left: 65px;
        }
        .round03 {
            top: 410px;
            left: 25px;
        }
        .round04 {
            top: 490px;
            left: 204px;
        }
    }
}